:root {
    /* Main colors */
    --theme-color-yellow: #ff9f1c;
    --theme-color-red: #ff4040;
    --theme-color-green: #2dc4b6;

    /* Grey Colors */
    --theme-color-dark: #0a1014;
    --theme-color-grey: #1b2329;
    --theme-color-mid-grey: #353f4c;
    --theme-color-light-grey: #7a8c99;
    --theme-color-white: #fff;

    --theme-color-default: var(--theme-color-white);
    --theme-color-secundary: var(--theme-color-light-grey);
    --theme-color-active: var(--theme-color-green);
    --theme-color-negative: var(--theme-color-red);
    --theme-color-highlight: var(--theme-color-yellow);
    --theme-color-disabled: var(--theme-color-mid-grey);

    --theme-font-weight-bold: 700;
    --theme-font-weight-medium: 500;
    --theme-font-weight-regular: 400;

    --theme-font-size-bold: 5rem;
    --theme-font-size-medium-high: 1.5rem;
    --theme-font-size-medium: 1.25rem;
    --theme-font-size-regular: 1rem;

    --theme-line-height-bold: 5.5rem;
    --theme-line-height-medium-high: 1.875rem;
    --theme-line-height-medium: 1.75rem;
    --theme-line-height-regular: 1.5rem;

    --theme-letter-spacing-bold: 0.8px;
    --theme-letter-spacing-medium-high: 0.2px;
    --theme-letter-spacing-medium: 0.2px;
    --theme-letter-spacing-regular: 0.16px;

    --theme-border-radius: 4px;
}

html,
body {
    padding: 0;
    margin: 0;
    color: var(--theme-mid-grey);
    font-family: Roboto, sans-serif;
    font-size: var(--theme-font-weight-regular);
    font-weight: var(--theme-font-size-regular);
    background-color: var(--theme-color-dark);
}

* {
    box-sizing: border-box;
}

a,
p,
span,
h1,
h2 {
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
}

.mt-1 {
    margin-bottom: 0.5rem;
}

.mt-2 {
    margin-bottom: 1rem;
}

.mt-3 {
    margin-bottom: 1.5rem;
}

.mb-1 {
    margin-bottom: 0.5rem;
}

.mb-2 {
    margin-bottom: 1rem;
}

.mb-3 {
    margin-bottom: 1.5rem;
}

.mb-4 {
    margin-bottom: 2rem;
}
